<a href="https://colab.research.google.com/github/TanishaSharma01/ml/blob/main/Label_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Label Encoding:

*  converting the labels into numeric form

In [2]:
# importing the Dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder

Label Encoding of Breast Cancer Dataset

In [3]:
# loading the data from csv file to pandas Dataframe
cancer_data = pd.read_csv('/content/data.csv')

In [4]:
# first 5 rows of the dataframe
cancer_data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [7]:
3 # finding the count of different labels
cancer_data['diagnosis'].value_counts()

diagnosis
B    357
M    212
Name: count, dtype: int64

In [8]:
# load the Label Encoder Function
label_encode = LabelEncoder()

In [9]:
labels = label_encode.fit_transform(cancer_data.diagnosis)

In [10]:
# appending the labels to th dataframe
cancer_data['target'] = labels

In [11]:
cancer_data.head()

         id diagnosis  ...  Unnamed: 32  target
0    842302         M  ...          NaN       1
1    842517         M  ...          NaN       1
2  84300903         M  ...          NaN       1
3  84348301         M  ...          NaN       1
4  84358402         M  ...          NaN       1

[5 rows x 34 columns]

0 --> Benign
1 --> Malignant

In [13]:
cancer_data['target'].value_counts()

target
0    357
1    212
Name: count, dtype: int64

Label Encoding of Iris Data

In [15]:
# loading the data from csv file to pandas Dataframe
iris_data = pd.read_csv('/content/iris_data.csv')

In [17]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [19]:
iris_data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [22]:
# loading the label encoder
label_encoder_1 = LabelEncoder()

In [25]:
iris_labels = label_encoder_1.fit_transform(iris_data.Species)

In [26]:
iris_data['target'] = iris_labels

In [27]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species target
0   1            5.1           3.5  ...           0.2  Iris-setosa      0
1   2            4.9           3.0  ...           0.2  Iris-setosa      0
2   3            4.7           3.2  ...           0.2  Iris-setosa      0
3   4            4.6           3.1  ...           0.2  Iris-setosa      0
4   5            5.0           3.6  ...           0.2  Iris-setosa      0

[5 rows x 7 columns]

In [28]:
iris_data['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

Iris-setosa --> 0
Iris-versicolor --> 1